<!-- %h1 Apelidos cadastrados
- @trip.each do |ap|
	%p= "#{ap.id}" -->

	<%= render 'layouts/header' %>
	<%= render 'layouts/drawer' %>

	<main class="mdl-layout__content">
		<%= yield %>
	</main>

	<%= render 'layouts/footer' %>
