<!--=========================================================================-->
<!--= Drawer                                                                =-->
<!--=========================================================================-->
<div class="mdl-layout__drawer">
  <header class="drawer-header">
    <% if current_user.img == nil %>
      <% current_user.update_attribute(:img, "user.svg") %>
    <% end %>  
    <%= image_tag(current_user.img, :class=>"drawer-image") %>
    <%= content_tag(:p, current_user.name)%>
  </header>
  <nav class="mdl-navigation">
    <!-- My Trips -->
    <%= link_to home_path, class: 'mdl-navigation__link' + (if controller.controller_name == "trips" then " active" else "" end) do %>
      <i class="material-icons">map</i>My Trips
    <% end %>

    <!-- Exit -->
    <%= link_to(destroy_user_session_path, class: "mdl-navigation__link") do %>
      <i class="material-icons">exit_to_app</i>Exit
    <% end %>

  </nav>
</div>

<!--=========================================================================-->
