<!----------------------------------------------------------------------------->
<!-- Drawer                                                                  -->
<!----------------------------------------------------------------------------->
<div class="mdl-layout__drawer">
  <header class="drawer_header">
    <i class="material-icons">person</i>USER
  </header>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="#"><i class="material-icons">place</i>Meus Locais</a>
    <a class="mdl-navigation__link" href="#"><i class="material-icons">map</i>Minhas Viagens</a>
    <a class="mdl-navigation__link" href="#"><i class="material-icons">exit_to_app</i>Sair</a>
  </nav>
</div>
