<!--=========================================================================-->
<!--= Drawer                                                                =-->
<!--=========================================================================-->
<div class="mdl-layout__drawer">
  <header class="drawer-header">
    <%= image_tag('user.svg', :class=>"drawer-image") %>
    <p>Username</p>
  </header>
  <nav class="mdl-navigation">
    <!-- My Trips -->
    <%= link_to home_path, class: 'mdl-navigation__link' + (if controller.controller_name == "trips" then " active" else "" end) do %>
      <i class="material-icons">map</i>My Trips
    <% end %>

    <!-- Exit -->
    <%= link_to(destroy_user_session_path, class: "mdl-navigation__link") do %>
      <i class="material-icons">exit_to_app</i>Exit
    <% end %>

  </nav>
</div>

<!--=========================================================================-->
