/******************************************************************************
 *                                  Rotalize                                  *
 ******************************************************************************/
@import "base/global.scss";

html, body {
  background: #F5F5F5;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::selection {
  background: $primary-color;
  color: $white;
}
::-moz-selection {
  background: $primary-color;
  color: $white;
}
a {
  color: $primary-color;
}
a:hover {
  color: $darker-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-weight: 400;
}

/******************************************************************************
 * Drawer                                                                     *
 ******************************************************************************/
.mdl-layout__drawer {
  background: #F5F5F5;
}
.drawer_header {
  background: #FFFFFF;
  height: 128px;
  margin-bottom: 4px;
}
.mdl-navigation {
  background: #FFFFFF;
}

/******************************************************************************
 * Content                                                                     *
 ******************************************************************************/
main {
  padding: 32px;
}

/******************************************************************************
 * Footer                                                                     *
 ******************************************************************************/
footer a {
  color: #FFFFFF !important;
  transition: color 0.2s;
  margin-left: 240px;
  @media screen and (max-width: 1024px) {
    margin-left: 0;
  }
}
footer a:hover {
  color: $darker-color !important;
}
.footer-copyright {
  height: 32px;
  padding-top: 6px;
}

/******************************************************************************/
