/******************************************************************************
 * Trips                                                                      *
 ******************************************************************************/
@import "base/global.scss";

.page-title {
  color: $primary-color;
  margin: 0;
  font-size: 32px;
}
span {
  color: $primary-color;
}

/******************************************************************************
 * Index                                                                      *
 ******************************************************************************/
.trips-container {
  margin: 31px 0 0 0;
  text-align: center;
}
.trip {
  background: $white;
  height: 128px;
  width: 100%;
  max-width: 512px;
  margin: 0 16px 16px 0;
  padding: 24px 0;
  display: inline-block;
  @media screen and (max-width: 1380px) {
    margin: 0 0 16px 0;
  }
  .name {
    font-size: 24px;
  }
  .info {
    p {
      color: $black;
      font-size: 16px;
      display: inline-block;
      margin: 0 13px;
    }

  }
}
.container-add-trip {
  margin: 11px 0 0 0;
  text-align: center;
  .btn {
    background: $primary-color;
    padding: 0;
    height: 32px;
    width: 128px;
  }
}

/******************************************************************************
 * Show                                                                       *
 ******************************************************************************/
/* Trip ***********************************************************************/
.trip-info-container {
  margin: 25px 2px 0 2px;
  p {
    display: inline-block;
  }
  .input {
    width: 100%;
    max-width: calc((100% - 65px)/3);
    margin: 0 29px 26px 0;
    display: inline-block;
    vertical-align: top;
    label {
      color: $primary-color;
      margin: 0 0 2px -1px;
      font-size: 16px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 100%;
      margin: 0 0 26px 0;
    }
    &.last {
      margin-right: 0;
    }
  }
}
.save-trip {
  background: $primary-color;
  height: 32px;
  margin: 0 0 26px 2px !important;
  padding: 1px 0 0 0;
  box-shadow: none;
  input[type=submit] {
    background-color: $primary-color;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
  }
}
.delete-trip {
  background: $error-color;
  height: 32px;
  width: 64px;
  top: 32px;
  right: 32px;
  padding: 1px 0 0 0;
  position: absolute;
  box-shadow: none;
  input[type=submit] {
    background-color: $error-color;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
  }
}

/* Locals *********************************************************************/
.locals-container {
  background: $white;
  height: 145px;
  width: calc(100% - 4px);
  margin: 31px 0 26px 2px;
  padding: 0 3px 0 16px;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.local {
  margin: 16px 29px 16px 0;
  text-align: center;
  display: inline-block;
  img {
    background: $primary-color;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  p {
    margin: 4px 0 0 0;
  }
}

/* Itinerary ******************************************************************/
.itinerary-container {
  margin: 31px 0 -22px;
  padding: 0 0 0 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.day {
  width: 256px;
  margin: 0 32px 7px 0;
  vertical-align: top;
  display: inline-block;
}
.day-header {
  background: $primary-color;
  color: $white;
  height: 32px;
  font-size: 24px;
  margin: 0 0 16px 0;
  padding: 5px 0 0 0;
  border-radius: 2px 2px 0 0;
  text-align: center;
  p {
    margin: 0;
  }
}
.place {
  margin: 0 16px 16px 16px;
  text-align: center;
  img {
    background: $primary-color;
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
  }
  .row {
    width: 100%;
    margin: 0;
    flex-wrap: inherit;
  }
  .col {
    padding: 0;
    white-space: normal;
  }
  p {
    margin: 0;
  }
}
.container-add-place {
  margin: 11px 0 26px 0;
  text-align: center;
  .btn {
    background: $primary-color;
    padding: 0;
    height: 32px;
    width: 128px;
  }
}
.container-add-day {
  margin: -5px 0 0 -9px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  .btn {
    background: $primary-color;
    padding: 0;
    height: 128px;
    width: 32px;
  }
}

/******************************************************************************
 * Modal                                                                      *
 ******************************************************************************/
#modal {
  font-weight: 400;
  .modal-header {
    padding: 0;
  }
  .modal-title {
    margin: 12px 0 12px 19px;
  }
  .modal-body {
    height: 512px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .btn-modal {
    background-color: $darker-color;
    height: 32px;
    padding-top: 8px;
    box-shadow: none;
    &.cancel {
      background-color: $dark-grey;
    }
  }
}
.search-bar-container {
  background: $darker-color;
  height: 64px;
  width: 100%;
  padding: 16px 16px 0 16px;
  position: relative;
  .search-bar {
    background: $white;
    height: 32px;
    width: 100%;
    padding-left: 32px;
    border-radius: 16px;
  }
  label {
    color: $dark-grey;
    position: absolute;
    top: 23px;
    left: 26px;
  }
}
.modal-local {
  .header {
    background-color: $primary-color;
    color: $white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $darker-color;
    cursor: pointer;
    img {
      height: 80px;
      width: 80px;
    }
    p {
      margin: 0 0 0 8px;
      padding: 0;
      display: inline-block;
    }
  }
}
.modal-place {
  margin: 8px 0 8px 11px;
  span {
    color: $black;
  }
}

/******************************************************************************/
